*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
ul,li, a, input{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;

}
.carosalImag{
    height: 450px;
    object-fit: cover;
}